@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PeopleList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PeopleList.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PeopleList</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">


            <div id="multiSelectWrapper">
                <select class="form-select" multiple aria-label="multiple select" id="contactAddressBookList">
                </select>
            </div>

            <div id="emailContactsDialogue" title="Email Contacts">
                <div class="text-center d-flex flex-column align-items-center justify-content-center">
                    <h3>Add names</h3>
                    <div class="row w-100 h-100 gy-2">
                        <div class="col-12 d-flex flex-row">
                            <input type="text" id="contactFilter" class="form-control" placeholder="start typing to filter" width="100" />
                            <button id="showAllContacts" class="btn btn-primary">Show All</button>
                        </div>
                        <div class="col h-100">

                            <select id="availableContacts" class="form-select" multiple size="15">
                            </select>
                            <label for="availableContacts" class="form-label">Available Names</label>
                        </div>
                        <div class="col-3 d-flex flex-column justify-content-center">
                            <button type="button" id="btnAddAll" class="btn btn-primary m-1">&gt;&gt;</button>
                            <button type="button" id="btnAdd" class="btn btn-primary m-1">&gt;</button>
                            <button type="button" id="btnRemove" class="btn btn-primary m-1">&lt;</button>
                            <button type="button" id="btnRemoveAll" class="btn btn-primary m-1">&lt;&lt;</button>
                        </div>
                        <div class="col">
                            <select id="selectedContacts" class="form-select" size="15" multiple>
                            </select>
                            <label for="selectedContacts" class="form-label">Selected Names</label>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PeopleList - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js"></script>

</body>
</html>

